// app global css in SCSS form
.page {
  font-family: "Roboto Mono", monospace;
  padding: 0 24px;
  margin-bottom: 64px;
}

.placeholder {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}
